@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


header{
    background-color: #6b6b6b;
}

header h1, nav{
    text-align: center;
}

header > nav{
    
    background-color: #7a7a7a;
}
body{
    background-color: gray;
}
main{
    background-color: white;
    margin: auto;
    min-width: 280px;
    max-width: 1000px;
padding: 10px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
}
section h1{
    text-align: center;
    background-color: rgb(90, 90, 90);
    color: white;
    border-radius: 10px;
}
#artigos img{
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}
#art1{
    text-align: center;

}